@{
    ViewBag.Title = "Correios RESTful API";
}
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Correios RESTful API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Correios RESTful API,</h1>
                <h2>API para desenvolvedores utilizarem em aplicações que precisem encontrar um endereço a partir do CEP informado.</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ol class="round">
            <li class="one">
                <h5>Acesse:</h5>
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">http://correiosrestful.apphb.com/cep/76873274</a> E veja o resultado, agora é so usar!
            </li>
            <li class="two">
                <h5></h5>
            </li>
            <li class="three">
                <h5></h5>
            </li>
        </ol>
    </section>
</div>