<header>
    <div class="content-wrapper">
        <a class="float-right" href="http://twitter.com/emerson_soares" title="Emerson Soares">@@emerson_soares</a>
        <div class="float-left">
            <p class="site-title">
                <h1>Correios RESTful API</h1>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>API para desenvolvedores utilizarem em aplicações que precisem encontrar um endereço a partir do CEP informado.</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ol class="round">
            <li class="one">
                <h5>Acesse:</h5>
                <a href="http://correiosapi.apphb.com/cep/76873274">http://correiosapi.apphb.com/cep/76873274</a> E veja um exemplo de resultado!
            </li>
            <li class="two">
                <h5>Retornos:</h5>
                <p>Em caso de sucesso:</p>
                <script src="https://gist.github.com/3884501.js?file=retorno.js"></script>
                <p>Em caso de erro de CEP não encontrado a API retornará o HTTP Status <a href="http://pt.wikipedia.org/wiki/HTTP_404" title="">404</a></p>
            </li>
            <li class="three">
                <h5>Exemplos:</h5>
                <p>Jquery:</p>
                <script src="https://gist.github.com/3884501.js?file=sample1.js"></script>
            </li>
            <li class="four">
                <h5>Faça um <a href="https://github.com/emersonsoares/CorreiosRESTfulAPI" title="Ir para o código fonte do projeto">fork do projeto no github</a></h5>
                <p>e ajude a melhorar o código, isso foi só uma brincadeira na madrugada!</p>
            </li>
        </ol>
    </section>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'correiosapi'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
